<li class="block__line block__brace-line">
  <span class="block__selector">{{selector}}</span>
  <span class="block__brace">{</span>
</li>

{{#if attrs.towerGroup}}
  <li class="block__line block__declaration">
    display: flex;
  </li>
{{/if}}

{{#if attrs.tower}}
  <li class="block__line block__declaration">
    {{td-game/stylesheet/block/input class="block__input-container"
                                     click=(action attrs.select-tower attrs.tower)
                                     enter-code-line=(action "enterCodeLine")
                                     viewName=(readonly inputViewName)}}

    <button {{action "submitCode"}} class="block__submit-btn">Submit code</button>
  </li>

{{else}}
  <li class="block__line block__declaration">
    {{!-- TODO: each loop (inputFields as |inputField|) --}}
    {{!--        --}}
    {{td-game/stylesheet/block/input class="block__input-container"
                                     click=(action attrs.select-tower-group attrs.towerGroup)
                                     enter-code-line=(action "enterCodeLine")
                                     viewName=(readonly inputViewName)}}

    <button {{action "submitCode"}} class="block__submit-btn">Submit code</button>
  </li>
{{/if}}

<li class="block__line block__brace-line">
  <span class="block__brace">}</span>
</li>
