<div class="stylesheet__line-numbers">
  {{#each lineNumbers as |lineNumber|}}
    <div class="stylesheet__line-number">{{lineNumber}}</div>
  {{/each}}
</div>

<div class="stylesheet__content">
  <button class="stylesheet__help--button">
    <a class="help__link" {{action attrs.show-overlay}}>
      <i class="fa fa-lg fa-question-circle"></i>
    </a>
  </button>

  {{#unless attrs.waveStarted}}
    {{#if attrs.towersColliding}}
      <button class="stylesheet__start-wave-button">Start Wave</button>
    {{else}}
      <button class="stylesheet__start-wave-button stylesheet__start-wave-button--active" {{action "startWave"}}>Start Wave</button>
    {{/if}}
  {{/unless}}

  {{#each attrs.towerGroups as |towerGroup|}}
    <li class="block__line block__brace-line">
      <span class="block__selector">.{{towerGroup.selector}}</span>
      <span class="block__brace">{</span>
    </li>

    {{td-game/stylesheet/block currentWaveNumber=(readonly attrs.currentWaveNumber)
                               finalTowerId=(readonly finalTowerId)
                               firstTowerGroupId=(readonly firstTowerGroupId)
                               overlayShown=(readonly attrs.overlayShown)
                               select-tower-group=(action attrs.select-tower-group)
                               selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                               shake-stylesheet=(action "shake")
                               towerGroup=(readonly towerGroup)
                               update-unit-styles=(action attrs.submit-styles)
                               waveStarted=(readonly attrs.waveStarted)
                               waveStarting=(readonly waveStarting)}}

    <li class="block__line block__brace-line block__brace-line--close">
      <span class="block__brace">}</span>
    </li>

    {{#each towerGroup.towers as |tower|}}
      <li class="block__line block__brace-line">
        <span class="block__selector">.{{tower.selector}}</span>
        <span class="block__brace">{</span>
      </li>
      {{td-game/stylesheet/block finalTowerId=(readonly finalTowerId)
                                 firstTowerGroupId=(readonly firstTowerGroupId)
                                 overlayShown=(readonly attrs.overlayShown)
                                 select-tower=(action attrs.select-tower)
                                 selectedTower=(readonly attrs.selectedTower)
                                 shake-stylesheet=(action "shake")
                                 tower=(readonly tower)
                                 update-unit-styles=(action attrs.submit-styles)
                                 waveStarted=(readonly attrs.waveStarted)
                                 waveStarting=(readonly waveStarting)}}
      <li class="block__line block__brace-line block__brace-line--close">
        <span class="block__brace">}</span>
      </li>
    {{/each}}
  {{/each}}
</div>
