<div class="stylesheet__line-numbers">
  {{#each lineNumbers as |lineNumber|}}
    <div class="stylesheet__line-number">{{lineNumber}}</div>
  {{/each}}
</div>

<div class="stylesheet__content">
  <button class="stylesheet__help--button" {{action "showOverlay"}}>
    <a class="help__link">
      <i class="fa fa-lg fa-question-circle"></i>
    </a>
  </button>

  {{#each attrs.towerGroups as |towerGroup|}}
    <li class="block__line block__brace-line">
      <span class="block__selector">.{{towerGroup.selector}}</span>
      <span class="block__brace">{</span>
    </li>

    {{td-game/stylesheet/block currentWaveNumber=(readonly attrs.currentWaveNumber)
                               finalInputFound=(readonly finalInputFound)
                               finalTowerId=(readonly finalTowerId)
                               firstTowerGroupId=(readonly firstTowerGroupId)
                               overlayShown=(readonly attrs.overlayShown)
                               select-tower-group=(action attrs.select-tower-group)
                               selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                               shake-stylesheet=(action "shake")
                               towerGroup=(readonly towerGroup)
                               waveStarted=(readonly attrs.waveStarted)
                               waveStarting=(readonly waveStarting)}}

    <li class="block__line block__brace-line block__brace-line--close">
      <span class="block__brace">}</span>
    </li>

    {{#if attrs.towerStylesHidden}}
    {{else}}
      {{#each towerGroup.towers as |tower|}}
        <li class="block__line block__brace-line">
          <span class="block__selector">.{{tower.selector}}</span>
          <span class="block__brace">{</span>
        </li>
        {{td-game/stylesheet/block finalInputFound=(readonly finalInputFound)
                                   finalTowerId=(readonly finalTowerId)
                                   firstTowerGroupId=(readonly firstTowerGroupId)
                                   notify-final-input=(action "notifyFinalInput")
                                   overlayShown=(readonly attrs.overlayShown)
                                   select-tower=(action attrs.select-tower)
                                   selectedTower=(readonly attrs.selectedTower)
                                   shake-stylesheet=(action "shake")
                                   tower=(readonly tower)
                                   waveStarted=(readonly attrs.waveStarted)
                                   waveStarting=(readonly waveStarting)}}
        <li class="block__line block__brace-line block__brace-line--close">
          <span class="block__brace">}</span>
        </li>
      {{/each}}
    {{/if}}
  {{/each}}

  <div class="stylesheet__hide-inputs">
    {{input class="hide-inputs__checkbox"
            checked=towerInputsHidden
            name="towerInputsHidden"
            type="checkbox"}}
    <span class="hide-inputs__text" {{action "toggleHideInputs"}}>hide tower inputs</span>
  </div>

  {{#if attrs.waveStarted}}
    {{#if attrs.cancellingWave}}
      <button class="stylesheet__cancel-wave-button">Cancel Wave</button>
    {{else}}
      <button class="stylesheet__cancel-wave-button stylesheet__cancel-wave-button--active" {{action "cancelWave"}}>Cancel Wave</button>
    {{/if}}
  {{else}}
    {{#if attrs.towersColliding}}
      <button class="stylesheet__start-wave-button">Start Wave</button>
    {{else}}
      <button class="stylesheet__start-wave-button stylesheet__start-wave-button--active" {{action "startWave"}}>Start Wave</button>
    {{/if}}
  {{/if}}
</div>
