{{#each attrs.towerGroups as |towerGroup|}}
  <li class="block__line block__brace-line">
    <span class="block__selector">{{towerGroup.selector}}</span>
    <span class="block__brace">{</span>
  </li>

  {{td-game/stylesheet/block currentWaveNumber=(readonly attrs.currentWaveNumber)
                             finalTowerId=(readonly finalTowerId)
                             firstTowerGroupId=(readonly firstTowerGroupId)
                             select-tower-group=(action attrs.select-tower-group)
                             selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                             shake-stylesheet=(action "shake")
                             towerGroup=(readonly towerGroup)
                             update-unit-styles=(action attrs.submit-styles)
                             waveStarted=(readonly attrs.waveStarted)}}

  <li class="block__line block__brace-line">
    <span class="block__brace">}</span>
  </li>

  {{#each towerGroup.towers as |tower|}}
    <li class="block__line block__brace-line">
      <span class="block__selector">{{tower.selector}}</span>
      <span class="block__brace">{</span>
    </li>
    {{td-game/stylesheet/block finalTowerId=(readonly finalTowerId)
                               firstTowerGroupId=(readonly firstTowerGroupId)
                               select-tower=(action attrs.select-tower)
                               selectedTower=(readonly attrs.selectedTower)
                               shake-stylesheet=(action "shake")
                               tower=(readonly tower)
                               update-unit-styles=(action attrs.submit-styles)
                               waveStarted=(readonly attrs.waveStarted)}}
    <li class="block__line block__brace-line">
      <span class="block__brace">}</span>
    </li>
  {{/each}}
{{/each}}

{{#unless attrs.waveStarted}}
  {{#if attrs.towersColliding}}
    <button>Start Wave</button>
  {{else}}
    <button class="stylesheet__start-wave-button" {{action attrs.start-wave}}>Start Wave</button>
  {{/if}}
{{/unless}}
