{{#unless attrs.overlayShown}}
  <div class="board__info">
    {{#if attrs.waveStarted}}
      <div class="board__points">
        Points: {{wavePoints}}
      </div>
    {{/if}}

    <button class="board__volume" {{action "toggleVolume"}}>
      <i class="fa fa-lg fa-{{volume}}"></i>
    </button>
  </div>
{{/unless}}

{{#if attrs.waveStarted}}
  {{#each mobs as |mob|}}
    {{td-game/board/mob add-points=(action "addPoints")
                        class=(readonly mob.posClass)
                        destroy-mob=(action "destroyMob")
                        mob=(readonly mob)
                        number=(readonly mob.number)
                        path=(readonly attrs.path)
                        points=(readonly mob.points)
                        posX=(readonly mob.posX)
                        posY=(readonly mob.posY)
                        health=(readonly mob.health)
                        speed=(readonly mob.speed)
                        type=(readonly mob.type)
                        update-class=(action "updateMobClass")
                        report-position=(action "reportMobPosition")
                        waveStarted=(readonly attrs.waveStarted)}}
  {{/each}}
{{/if}}

{{#each attrs.towerGroups as |towerGroup|}}
  {{#unless attrs.waveStarted}}
    <div class="board__tower-group--body"
         id="tower-group--overlay-{{towerGroup.groupNum}}" {{action attrs.select-tower-group towerGroup}}>
      {{#if (eq towerGroup selectedTowerGroup)}}
        {{tool-tip selector=(readonly towerGroup.selector)
                   type=(readonly "tower-group")}}

        <div class="tower-group__pulse"></div>
      {{/if}}
    </div>
  {{/unless}}

  {{td-game/board/tower-group add-colliding-tower=(action attrs.add-colliding-tower)
                              allTowers=(readonly towers)
                              damage-mob=(action "damageMob")
                              groupNum=(readonly towerGroup.groupNum)
                              mobs=(readonly mobs)
                              numRows=(readonly towerGroup.numRows)
                              path=(readonly attrs.path)
                              posY=(readonly towerGroup.posY)
                              remove-colliding-tower=(action attrs.remove-colliding-tower)
                              report-tower-position=(action attrs.report-tower-position)
                              select=(action attrs.select-tower-group towerGroup)
                              selectedTower=(readonly selectedTower)
                              selectedTowerGroup=(readonly selectedTowerGroup)
                              select-tower=(action attrs.select-tower)
                              towerGroup=(readonly towerGroup)
                              volumeKey=(readonly volumeKey)
                              waveStarted=(readonly attrs.waveStarted)}}
{{/each}}
