{{#if currentWave}}
  <div class="td-game__sidebar">

    {{!-- Header --}}
    <div class="td-game__header">
      <div class="header__title">Flex Defense</div>
      <div class="header__nav">
        {{#if isFirstWave}}
          <button class="nav__button"
                  type="button"
                  name="button" {{action "changeWavePrevious"}}>
            <i class="fa fa-angle-double-left"></i>
          </button>
        {{else}}
          <button class="nav__button nav__button--active"
                  type="button"
                  name="button" {{action "changeWavePrevious"}}>
            <i class="fa fa-angle-double-left"></i>
          </button>
        {{/if}}

        <button class="nav__button nav__button--active nav__button--selector"
                type="button"
                name="button"
                onclick={{action "openDropdown"}}>
          <span class="selector__content">
            Wave {{currentWaveNumber}} of {{game.waves.length}}
            <i class="fa fa-caret-down selector__caret"></i>
          </span>
        </button>

        {{#if isLastWave}}
          <button class="nav__button"
                  type="button"
                  name="button" {{action "changeWaveNext"}}>
            <i class="fa fa-angle-double-right"></i>
          </button>
        {{else}}
          <button class="nav__button nav__button--active"
                  type="button"
                  name="button" {{action "changeWaveNext"}}>
            <i class="fa fa-angle-double-right"></i>
          </button>
        {{/if}}

        {{#if dropdownActive}}
          <div class="button__menu">
            <div class='menu__wave-links'>
              {{#each waveLinks as |waveLink|}}
                {{#if (eq waveLink currentWaveNumber)}}
                  <button class="menu__wave-link menu__wave-link">{{waveLink}}</button>
                {{else}}
                  <button class="menu__wave-link menu__wave-link--active" {{action "changeWaveSelect" waveLink}}>{{waveLink}}</button>
                {{/if}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>

    {{!-- Instructions --}}
    <div class="sidebar__instructions">
      <div class="">{{{instructionsTldr}}}</div>
    </div>

    {{td-game/stylesheet currentWaveNumber=(readonly currentWaveNumber)
                         overlayShown=(readonly overlayShown)
                         select-tower=(action "selectTower")
                         select-tower-group=(action "selectTowerGroup")
                         selectedTower=(readonly selectedTower)
                         selectedTowerGroup=(readonly selectedTowerGroup)
                         start-wave=(action "startWave")
                         submit-styles=(action "setStyles")
                         towersColliding=(readonly towersColliding)
                         towerGroups=(readonly currentWave.towerGroups)
                         waveStarted=(readonly waveStarted)}}

    {{!-- <div class="sidebar__help">
      <a class="help__link" {{action "showOverlay"}}>Show Help</a>
    </div> --}}

    <footer class="sidebar__footer">
      <p class="footer__text">Made by Channing Allen</p>
      <a class="footer__link" href="https://github.com/channingallen"><i class="fa fa-facebook-square"></i></a>
      <a class="footer__link" href="https://twitter.com/ChanningAllen"><i class="fa fa-twitter-square"></i></a>
      <a class="footer__link" href="https://www.linkedin.com/in/channingallen"><i class="fa fa-linkedin-square"></i></a>
    </footer>
  </div>

  {{td-game/board add-colliding-tower=(action "addCollidingTower")
                  backgroundImage=(readonly currentWave.board.imageUrl)
                  minimumPoints=(readonly currentWave.minimumPoints)
                  path=(readonly currentWave.board.pathData)
                  remove-colliding-tower=(action "removeCollidingTower")
                  report-tower-position=(action "reportTowerPosition")
                  score-wave=(action "scoreWave")
                  select-tower=(action "selectTower")
                  select-tower-group=(action "selectTowerGroup")
                  selectedTower=(readonly selectedTower)
                  selectedTowerGroup=(readonly selectedTowerGroup)
                  towerGroups=(readonly currentWave.towerGroups)
                  waveMobs=(readonly currentWave.mobs)
                  waveStarted=(readonly waveStarted)}}

  {{!-- Overlay --}}
  {{#if overlayShown}}
    <div class="overlay"
         onclick={{action "handleOverlayClick"}}>
      <div class="modal">
        {{#if instructionsModalShown}}
          <div class="modal__instructions">{{{instructionsMain}}}</div>
          <button class="modal__button" {{action "hideOverlay"}}>Ok, got it!</button>

        {{else if gradeModalShown}}
          {{#if passed}}
            <div class="modal__grade">
              <p>Congratulations! You scored {{score}} points!</p>
            </div>
          {{else}}
            <div class="modal__grade">
              <p>You scored {{score}} points. See if you can get 80 or more!</p>
            </div>
          {{/if}}

          <button class="modal__button" {{action "hideOverlay"}}>Try again</button>
          <button class="modal__button" {{action "changeWaveNext"}}>Next wave</button>
        {{else}}
          <button class="modal__button" {{action "hideOverlay"}}>Dismiss</button>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="td-game__loading-container">
    <i class="fa fa-5x fa-spinner fa-spin"></i>
  </div>
{{/if}}
