{{#if currentWave}}
  <div class="td-game__sidebar">
    <div class="td-game__header">
      <div class="header__title">Flex Defense</div>

      <div class="header__navigation">
        <i class="fa fa-chevron-left" {{action "changeWavePrevious"}}></i>
        <span>Wave {{currentWaveNumber}} of {{game.waves.length}}</span>
        <i class="fa fa-chevron-right" {{action "changeWaveNext"}}></i>
      </div>
    </div>

    <div class="sidebar__instructions">{{{instructions}}}</div>

    {{td-game/stylesheet currentWaveNumber=(readonly currentWaveNumber)
                         select-tower=(action "selectTower")
                         select-tower-group=(action "selectTowerGroup")
                         selectedTower=(readonly selectedTower)
                         selectedTowerGroup=(readonly selectedTowerGroup)
                         start-wave=(action "startWave")
                         submit-styles=(action "setStyles")
                         towersColliding=(readonly towersColliding)
                         towerGroups=(readonly currentWave.towerGroups)
                         waveStarted=(readonly waveStarted)}}
  </div>

  {{td-game/board add-colliding-tower=(action "addCollidingTower")
                  backgroundImage=(readonly currentWave.board.imageUrl)
                  minimumPoints=(readonly currentWave.minimumPoints)
                  path=(readonly currentWave.board.pathData)
                  remove-colliding-tower=(action "removeCollidingTower")
                  score-wave=(action "scoreWave")
                  select-tower=(action "selectTower")
                  select-tower-group=(action "selectTowerGroup")
                  selectedTower=(readonly selectedTower)
                  selectedTowerGroup=(readonly selectedTowerGroup)
                  towerGroups=(readonly currentWave.towerGroups)
                  waveMobs=(readonly currentWave.mobs)
                  waveStarted=(readonly waveStarted)}}

  {{#if overlayShown}}
    <div class="overlay">
      <div class="modal">
        <div class="modal__instructions">{{{instructions}}}</div>
        <button class="modal__button" {{action "hideOverlay"}}>Ok, got it!</button>
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="td-game__loading-container">
    <i class="fa fa-5x fa-spinner fa-spin"></i>
  </div>
{{/if}}
