<div class="{{attrs.number}}">
{{!-- <div class="mob {{positionClass}} {{attrs.number}}"> --}}
  <div>HP: {{attrs.remainingHealth}}</div>
  <div>{{attrs.posX}},</div>
  <div>{{attrs.posY}}</div>
</div>
